:root {
    --primary-color: rgba(13, 110, 139, 0.50);
    --overlay-color: rgba(24,39, 51, 0.85);
    --menu-speed: 0.75s;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');body{background-color: #eeeeee;font-family: 'Open Sans',serif;font-size: 14px}.container-fluid{margin-block-start:70px}.card-body{-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.40rem}.img-sm{inline-size: 80px;block-size: 80px}.itemside .info{padding-inline-start: 15px;padding-inline-end: 7px}.table-shopping-cart .price-wrap{line-height: 1.2}.table-shopping-cart .price{font-weight: bold;margin-inline-end: 5px;display: block}.text-muted{color: #969696 !important}a{text-decoration: none !important}.card{position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-inline-size: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: 0px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;inline-size: 100%}.dlist-align{display: -webkit-box;display: -ms-flexbox;display: flex}[class*="dlist-"]{margin-block-end: 5px}.coupon{border-radius: 1px}.price{font-weight: 600;color: #212529}.btn.btn-out{outline: 1px solid #fff;outline-offset: -5px}.btn-main{border-radius: 2px;text-transform: capitalize;font-size: 15px;padding: 10px 19px;cursor: pointer;color: #fff;inline-size: 100%}.btn-light{color: #ffffff;background-color: #F44336;border-color: #f8f9fa;font-size: 12px}.btn-light:hover{color: #ffffff;background-color: #F44336;border-color: #F44336}.btn-apply{font-size: 11px}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-inline-size: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0.3rem;
}

.showcase{
    background-color: var(--primary-color);
    color: #EBCE16;
    block-size: 100vh;
    position: relative;
}

.showcase:before {
    content:'';
    background: #fff no-repeat center
    center/cover;
    position:absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1;
}

.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    block-size: 100%;
}

.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size:1.3rem;
}

.btn{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-block-start: 1rem;
    text-decoration: none; 
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity: 0.7;
}