:root {
    --primary-color: rgba(13, 110, 139, 0.50);
    --overlay-color: rgba(24,39, 51, 0.85);
    --menu-speed: 0.75s;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.container{
    max-inline-size: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0.3rem;
}

.showcase{
    background-color: var(--primary-color);
    color: #ffffff;
    block-size: 100vh;
    position: relative;
}

.showcase:before {
    content:'';
    background: #000000 no-repeat center
    center/cover;
    position:absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1;
}

.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    block-size: 100%;
}

.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size:1.3rem;
}

.btn{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-block-start: 1rem;
    text-decoration: none; 
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity: 0.7;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 500vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

@media (max-inline-size: 1080px){
	.menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 250vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
}

@media (max-inline-size: 400px){
	.menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 250vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
}

@media (max-inline-size: 360px){
	.menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 250vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
}